.popup__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 47px;
    padding-bottom: 9px;
}

@media screen and (max-width: 500px) {
    .popup__name:first-child{
        margin-top: 74px;
    }

    .popup__name:last-of-type{
        margin-top: 27px;
    }
}