.element__like-button {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/Vector-like-Stroke.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #000;
    border: none;
    background-color: #fff;
    margin-top: 6px;
    margin-right: 5px;
    cursor: pointer;
}